:root {
  display: flex;
  justify-content: center;
}

/* -----------------ОСНОВЫНЕ СТИЛИ-------------------- */
.page {
  max-inline-size: 1440px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--family-main);
  font-weight: var(--wgth);
  background-color: var(--bg-color);
  background-image: var(--bg-img);
  background-size: cover;
  color: var(--acc-color);
}

.content-wrapper {
  width: 68%;
  margin: 0 auto;
}


@media screen and (width <= 768px) {
  .content-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .header {
    font-family: var(--family-accent);
    height: 364px;
    text-align: center;
    border: 2px solid var(--acc-color);
    margin: 104px 0;
  }

  .header__title {
    margin: 100px 0 20px;
    font-size: 49px;
    margin-bottom: 20px;
  }

  .header__subtitle {
    font-size: 21px;
    margin-bottom: 25px;
  }

  .footer__save {
    flex-direction: column;
  }
}

