/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  max-inline-size: 1440px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--family-main);
  font-weight: var(--wgth);
  background-color: var(--bg-color);
  background-image: var(--bg-img);
  background-size: cover;
  color: var(--acc-color);
}

.content-wrapper {
  width: 68%;
  margin: 0 auto;
}

.header {
  font-family: var(--family-accent);
  height: 364px;
  text-align: center;
  border: 2px solid var(--acc-color);
  margin: 104px 0;
  background-color: var(--bg-color);
}

.header__title {
  margin: 130px 0 20px;
  font-size: 64px;
  margin-bottom: 20px;
}

.header__subtitle {
  font-size: 23px;
  margin-bottom: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.theme-menu__button {
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  border: none;
  outline: none;
  background: none;
  position: relative;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:disabled:before {
  content: "▶";
  position: absolute;
  left: -15px;
  animation: moving infinite 0.5s ease-in-out alternate-reverse;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 3px;
  background-color: var(--acc-color);
  transition: width 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  opacity: 0.6;
}

.main {
}

.card {
  border: 2px solid var(--acc-color);
  background-color: var(--bg-color);
}

.card__title {
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  margin-left: 1rem;
}

.card__img-container {
  position: relative;
}

.card__img {
  width: 100%;
  object-fit: contain;
}

.card__img-text {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--family-accent);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: -1px 0 var(--text-stroke), 0 1px var(--text-stroke),
    1px 0 var(--text-stroke), 0 -1px var(--text-stroke);
}

@supports (
  (text-stroke: 1px var(--text-stroke)) or
    (-webkit-text-stroke: 1px var(--text-stroke))
) {
  .card__img-text {
    -webkit-text-stroke: 1px var(--text-stroke);
    text-stroke: 1px var(--text-stroke);
    text-shadow: none;
  }
}

.card__content {
  width: 90%;
  font-size: 18px;
  line-height: 21px;
  margin: 27px auto;
}

.card__subtext {
  width: 90%;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto 25px;
}

.card__buttons-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  margin: 0 1.5rem 1.5rem 0;
}

.card__icon-button {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  transition: border 0.3s ease;
  height: 2.5rem;
  width: 2.5rem;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--acc-color);
  outline: none;
}

.like-icon {

}

.heart {

}

.like-icon.is-liked .heart {
  animation: heart-scaling 0.3s ease-in 0.1s alternate;
  transform-origin: center;
}

@keyframes heart-scaling {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

.contour {

}

.like-icon.is-liked .contour {
  fill: var(--fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon .main-body {
  fill: var(--bg-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .main-body {
  fill: var(--fill-color);
}

.like-icon.is-liked .main-body {
  fill: var(--fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon .core {
  fill: var(--bg-color);
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--fill-color);
}

.like-icon.is-liked .core {
  fill: var(--fill-color);
  transition: fill 0.3s linear;
}

.sparks {

}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s alternate backwards;
}

@keyframes sparks {
  to {
    fill: var(--fill-color);
  }
}

.card__like-button {
  cursor: pointer;
  padding: 9px 17px;
  border: 2px solid var(--acc-color);
  outline: none;
  background-color: transparent;
  transition: box-shadow 0.3s ease;
  position: relative;
}

.card__like-button:focus {
  box-shadow: 2px 2px currentColor;
}

.card__like-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--acc-color);
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: transform 0.5s ease-in-out;
}

.card__like-button:hover::before {
  transform: scaleX(1);
}

/* .card__like-button:hover .button__text{
  mix-blend-mode: difference;
  color: var(--text-color);
} */

.button__text {
  font-family: var(--family-accent);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  color: var(--text-color);
  position: relative;
  /* z-index: 10; */
  mix-blend-mode: difference;
}


.footer {
}

.footer__save {
  background-color: var(--bg-color);
  cursor: pointer;
  margin: 54px auto 105px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 18.5px 21px;
  border: 2px solid var(--acc-color);
  outline: none;
  transition: box-shadow 0.3s ease;
  position: relative;
}

.footer__save:focus {
  box-shadow: 2px 2px currentColor;
}

.footer__save::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--acc-color);
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: transform 0.5s ease-in-out;
}

.footer__save:hover::before {
  transform: scaleX(1);
}

.floppy-svg {
  position: relative;
  color: var(--text-color);
  mix-blend-mode: difference;
  width: 21px;
  height: 21px;
}

@media screen and (width <= 768px) {
  .content-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .header {
    font-family: var(--family-accent);
    height: 364px;
    text-align: center;
    border: 2px solid var(--acc-color);
    margin: 104px 0;
  }

  .header__title {
    margin: 100px 0 20px;
    font-size: 49px;
    margin-bottom: 20px;
  }

  .header__subtitle {
    font-size: 21px;
    margin-bottom: 25px;
  }

  .footer__save {
    flex-direction: column;
  }
}

@keyframes moving {
  to {
    transform: translateX(4px);
  }

}
